<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Bowling Score Tracker</title>
  </head>
  <body>
    <div class="header">
      <h1>Enter Scores</h1>
      <!-- Logout button -->
      <form action="/logout" method="post">
        <button type="submit" class="logout">Logout</button>
      </form>
    </div>
    <div class="container">
      <div class="form-container">
        <form action="/add" method="post">
          <label for="game1">Game 1:</label>
          &nbsp;&nbsp;&nbsp;
          <input type="number" id="game1" name="game1" required />
          &nbsp;&nbsp;&nbsp;
          <label for="game2">Game 2:</label>
          &nbsp;&nbsp;&nbsp;
          <input type="number" id="game2" name="game2" required />
          &nbsp;&nbsp;&nbsp;
          <label for="game3">Game 3:</label>
          &nbsp;&nbsp;&nbsp;
          <input type="number" id="game3" name="game3" required />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" onclick="total();">Submit</button>
        </form>

        <div class="series">
          <button onclick="location.href='/series'" class="view">
            View Scores
          </button>
        </div>
      </div>
    </div>
    <script>
      function total() {
        var game1 = document.getElementById("game1").value;
        var game2 = document.getElementById("game2").value;
        var game3 = document.getElementById("game3").value;
      }
    </script>
  </body>
</html>
