<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Bowling Score Tracker</title>
  </head>
  <body>
    <%- include('partials/header', { title: 'Enter Scores', page: 'enter' }) %>
    <div class="container">
      <div class="form-container">
        <form action="/add" method="post">
          <p>
            <label for="league_name">Select League:</label>
            <select id="league_name" name="league_name" required>
              <!-- Populate options dynamically based on user's registered leagues -->
              <% for (let i = 0; i < user.leagues.length; i++) { %>
              <option value="<%= user.leagues[i].name %>">
                <%= user.leagues[i].name %>
              </option>
              <% } %>
            </select>
            <br />

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required />
            <br />

            <label for="game1">Game 1:</label>
            <input type="number" id="game1" name="game1" required />

            <label for="game2">Game 2:</label>
            <input type="number" id="game2" name="game2" required />

            <label for="game3">Game 3:</label>
            <input type="number" id="game3" name="game3" required />

            <button type="submit" onclick="total();">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
