body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.buttons-container button {
  /* Set the size of the buttons */
  width: 100px;
  height: 50px;
}

header {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 20px;
}

header nav {
  margin-right: 20px;
}

header nav a.button {
  color: white;
  background-color: gray;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}

.container {
  margin: 20px;
}

.form-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.enter button,
.series button,
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.enter button {
  margin-left: 10px;
}

button.logout {
  background-color: #d9534f;
}

button[type="submit"] {
  align-self: flex-end;
}

.series {
  margin-top: 20px;
}

.buttons-container {
  display: flex;
}

.container {
  display: block;
  width: 50%;
  margin: 0 auto; /* Center the container */
  justify-content: space-between;
}

form {
  padding-top: 10px;
}

.additional-leagues {
  display: block;
  width: 40%;
  margin-top: 0 auto;
  justify-content: space-between;
}

.add-league-button {
  background-color: #0000ff;
  color: white;
}

.remove-button {
  background-color: #ff0000;
  color: white;
}
