body {
  margin: 0;
  font-family: "open_sansregular", sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 20px;
}

header nav {
  margin-right: 20px;
}

.form-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button,
a.button {
  background-color: #174cd6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  min-width: 90px;
  min-height: 40px;
  text-decoration: none !important;
  text-transform: uppercase;
}

a.button {
  font-size: 16px;
}

button.login,
button.settings,
button.register,
a.button.login,
a.button.settings,
a.button.register,
.login,
.settings,
.register {
  background-color: #4cd617;
}

button.logout,
a.button.logout,
.logout {
  background-color: #d6174c;
}

button.view,
a.button.view,
.view {
  background-color: #d6a117;
}

button[type="submit"] {
  align-self: flex-end;
}

.buttons-container {
  display: flex;
}

.container {
  display: block;
  width: 50%;
  margin: 0 auto; /* Center the container */
  justify-content: space-between;
}

table {
  width: 60%;
  table-layout: fixed;
  margin: 0 auto;
}

th,
td {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

td {
  text-align: center;
}

.overall {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  color: #174cd6;
}

@font-face {
  font-family: "open_sansregular";
  src: url("opensans-webfont.woff2") format("woff2"),
    url("opensans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
